<div class="row">
</div>

<!-- WGG Enrollment Chart -->
  <div class="box">
    <%= render 'partials/enrollment_chart' %>
  </div>
<!-- WGG end of Enrollment Chart -->

<!-- Kent & Kyle adding Google Geochart -->
<div class="box">
  <div class="box-header"><span class="title">Geochart</span></div>
    <div class="box-content padded" style="text-align: center" >
     <head>
    
      <script type='text/javascript' src='https://www.google.com/jsapi'></script>
        <script type='text/javascript'>
        google.load('visualization', '1', {'packages': ['geochart']});
        google.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
          var data = google.visualization.arrayToDataTable([
          ['State', 'Enrollments'],
          ['California', 200],
          ['Florida', 300],
          ['Texas', 400],
          ['Washington', 500],
          ['Wisconsin',600],
          ['Ohio', 700],
          ['Michigan', 500],
          ['Utah', 500],
          ['New Mexico', 500],
          ['Alabama', 0],
          ['Arizona', 0],
          ['Arkansas', 0],
          ['Colorado', 0],
          ['Connecticut', 0],
          ['Delaware', 0],
          ['Georgia', 0],
          ['Idaho', 0],
          ['Illinois', 0],
          ['Indiana', 0], 
          ['Iowa', 0],
          ['Kansas', 0],
          ['Kentucky', 0],
          ['Louisiana', 0],
          ['Maine', 0],
          ['Maryland', 0],
          ['Massachusetts', 0],
          ['Minnesota', 0],
          ['Missouri', 0],
          ['Montana', 0],
          ['Mississippi', 0],
          ['Nebraska', 0],
          ['New Hampshire', 0],
          ['New Jersey', 0],
          ['Nevada',0],
          ['New York', 0],
          ['North Carolina', 0],
          ['North Dakota', 0],
          ['Oklahoma', 0],
          ['Oregon', 0],
          ['Pennsylvania', 0],
          ['Rhode Island', 0],
          ['South Carolina', 0],
          ['South Dakota', 0],
          ['Tennessee', 0],
          ['Vermont', 0],
          ['Virginia', 0],
          ['West Virginia', 0],
          ['Wyoming', 0],
          ['Alaska', 0],
          ['Hawaii', 0]       
        ]);

        var options = {
          region: 'US',
          resolution: 'provinces',
          colorAxis: {colors: ['#FFFFFF', '#0D4878']}
          //colorAxis: {colors: ['#F6FF00', '#FF0022']}
        };
        //options['region'] = 'US';
        //options['colors'] = ['#FFFFFF', '#0D4878'];
        //options['fill'] = '0xFFFFFF';
        //options['colors'] = [0x7DF57D,0x076607];

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'))
        chart.draw(data, options);
      };
      </script>
    </head>

    <body>
      <div id='chart_div'></div>
    </body>
    </div>
</div>
<!-- Kent end of adding Google Geomap -->

<!-- WGG double line chart -->
<div class="row">
<div class="col-md-6">
<div class="box">
  <div class="box-header"><span class="title">Marketplace and Medicare</span></div>
    <div class="box-content padded">
        <div class="sine-chart" style="height: 300px" id="xchart-sine"></div>
    </div>
  </div>
</div>

<div class="col-md-6">
<div class="box">
  <div class="box-header"><span class="title">Marketplace and Medicare Legend</span></div>
    <div class="box-content padded">
        <div>TEST</div>
    </div>
  </div>
</div>
</div>


<!-- WGG end of double line chart -->

<!-- WGG adding Gauges -->
<div class="box">
  <div class="box-header"><span class="title">Marketplace</span></div>
    <div class="box-content padded" style="text-align: center">
      <!-- WGG removing    <div class="justgage" data-title="Normal" id="<%= random_string %>"></div>
      <div class="justgage" data-title="No labels" data-labels="false" id="<%= random_string %>"></div>
      WGG -->
        <div class="justgage" 
        data-title="New Subscribers" 
        data-gauge-width-scale="0.3" 
        data-labels="true" 
        data-gauge-Color="#edebeb"
        data-val="223"
        data-max="450"
        id="1"
        ></div>    

        <div class="justgage" 
        data-title="Continuing Subscribers" 
        data-gauge-width-scale="0.3" 
        data-labels="true" 
        data-gauge-Color="#edebeb"
        id="2"
        data-val="1223"
        data-max="1450"
        ></div>    

      <!-- WGG removing
      <div class="justgage" data-title="Custom Animation" data-animation-type="bounce" id="<%= random_string %>"></div>
      WGG -->
    </div>
</div>
<!-- WGG end of adding Gauges -->

<!-- WGG start of Data Table -->
<div class="row">
  <div class="col-md-12">
    <div class="box-content-padded">
      <div class="box">
        <div class="box-header"><span class="title">Churn Report</span></div>
        <div class="box-content">
          <div class="box-content-padded">
            <%= render partial: "partials/data_tables_custom", locals: { custom_class: "dTable" } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- WGG end of Data Table -->


