<p>
  <strong>Title:</strong>
  <%= @definition.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @definition.text %>
</p>

<p>
  <strong>Initial Year Amount:</strong>
  <%= number_to_currency(@definition.year_amount) %>
</p>

<p>
  <strong>Initial Monthly Amount:</strong>
  <%= (number_to_currency((@definition.year_amount)/12)) %>
</p>

<p>
  <strong>Renewal Year Amount:</strong>
  <%= number_to_currency((@definition.year_amount/2)) %>
</p>

<p>
  <strong>Renewal Monthly Amount:</strong>
  <%= (number_to_currency((@definition.year_amount/2)/12)) %>
</p>

<%= form_tag("/sel_month", method: "get") do %>
  <%= label_tag(:q, "Select Month and Year:") %>
  <%= month_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<!-- WGG 5/26/2014 found table info here http://stackoverflow.com/questions/14852951/display-data-in-table-cells-from-database-table-ruby-on-rails -->

<table>                         
  <tr>                          
    <th>Year</th>
    <th>Month</th>
    <th>Payment</th>
  </tr>

  <tr>
    <td>Year 1</td> 
    <td>January</td>
    <td></td>
  </tr>
                     
</table>     
<br>
<div class="paymentdef" data-annual-payment=<%= @definition.year_amount%>>
  <h2>Payments by Month</h2>
  <p>$<span id="total"><%= @definition.year_amount%></span> for <span id="months-count">12</span> Months</p>
  <p>
    <label for="months">Number of Months Enrolled</label>
  </p>
  <p>
    <input type="number" id="months" value="12">
  </p>
</div>

<script>
  DivBy12Refresh=function(){
    //alert('test');
    var test2=$("#year_money").val(); // this gets the value from the box
    //alert(test2);
    $("#year_money12").val(test2/12);
  }  

  $(document).ready(function() {
  $("#months").on("keyup", function() {
    $("#months-count").text($(this).val());
    var annual = $(this).closest('.paymentdef').data('annual-payment');
    var months = $(this).val();
    $('#total').text((annual/12) * months);
  });
});
</script>
<br>
<br>
<form>
<input type="text" id="year_money" name="year_money" value="0" onblur="DivBy12Refresh()">Year 1 payment<br>

<input type="text" id="year_money12" name="year_money12" value="0">
Year 1 payment<br>
</form>



