<p>
  <strong>Title:</strong>
  <%= @definition.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @definition.text %>
</p>

<p>
  <strong>Cycle Year 1 Amount:</strong>
  <%= number_to_currency(@definition.year_amount) %>
</p>

<p>
  <strong>Cycle Year 1 Monthly Amount:</strong>
  <%= (number_to_currency((@definition.year_amount)/12)) %>
</p>

<p>
  <strong>Renewal Year Amount:</strong>
  <%= number_to_currency((@definition.year_amount/2)) %>
</p>

<p>
  <strong>Renewal Monthly Amount:</strong>
  <%= (number_to_currency((@definition.year_amount/2)/12)) %>
</p>

<%= form_tag("/sel_month", method: "get") do %>
  <%= label_tag(:q, "Select Month and Year:") %>
  <%= month_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>                     
</table>     
<br>

<div class="paymentdef" data-annual-payment=<%= @definition.year_amount%>>
  <h2>Payments by Month</h2>
  <p>$<span id="total"><%= @definition.year_amount%></span> for <span id="months-count">12</span> Months</p>
  <p>
    <label for="months">Number of Months Enrolled</label>
  </p>
  <p>
    <input type="number" id="months" value="12">
  </p>
</div>

<div>
  <p>
    <label for="start_date">Enrollment Start Date</label>
  </p>
  <p>
    <input type="number" id="start_date" value="1">
  </p>
</div>

<%  
    enrollment_month = 1
    yr1 = '2014'
    yr2 = '2015'
    yr3 = '2016'

%>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header"><span class="title">Churn Report</span></div>
      <div class="box-content">
        <div id="dataTables">

        <table cellpadding="0" cellspacing="0" border="0" class="dTable-3year responsive">
        <thead>
        <tr>
          <th><div>Year</div></th>
          <th><div>Month</div></th>
          <th><div>Value</div></th>
          <th bgcolor="#00FF00"><div>Payment</div></th>
        </tr>
        </thead>
        <tbody>

        <!-- WGG 6/8/2014 this is not dry at all, need to loop
             the table output. It may also be better to calculate
             this with javascript rather than ruby -->
        <tr>
          <td><%= yr1 %></td>
          <td>Jan</td>
          <td>
            <% if enrollment_month <= 1 %>
              <%= (number_to_currency(@definition.year_amount/12)) %>
            <% else %>
              <%= 0 %>
            <% end %>
          </td>
          <td>payment</td>
        </tr>

        <tr>
          <td><%= yr1 %></td>
          <td>Feb</td>
          <td>
            <% if enrollment_month <= 2 %>
              <%= (number_to_currency(@definition.year_amount/12)) %>
            <% else %>
              <%= 0 %>
            <% end %>
          </td>
          <td>payment</td>
        </tr>

        <tr>
          <td><%= yr1 %></td>
          <td>Mar</td>
          <td>
            <% if enrollment_month <= 3 %>
              <%= (number_to_currency(@definition.year_amount/12)) %>
            <% else %>
              <%= 0 %>
            <% end %>
          </td>
          <td>payment</td>
        </tr>


        <tr>
          <td><%= yr1 %></td>
          <td>Apr</td>
          <td>3</td>
          <td>2.3%</td>
        </tr>


        <tr>
          <td><%= yr1 %></td>
          <td>May</td>
          <td>3</td>
          <td>1.8%</td>
        </tr>


        <tr>
          <td><%= yr1 %></td>
          <td>Jun</td>
          <td>1</td>
          <td>0.1%</td>
        </tr>

        <tr>
          <td><%= yr1 %></td>
          <td>Jul</td>
          <td>5</td>
          <td>2.6%</td>
        </tr>


        <tr>
          <td><%= yr1 %></td>
          <td>Aug</td>
          <td>2</td>
          <td>1.0%</td>
        </tr>


        <tr>
          <td><%= yr1 %></td>
          <td>Sep</td>
          <td>0</td>
          <td>0.0%</td>
        </tr>


        <tr>
          <td><%= yr1 %></td>
          <td>Oct</td>
          <td>3</td>
          <td>1.3%</td>
        </tr>


        <tr>
          <td><%= yr1 %></td>
          <td>Nov</td>
          <td>13</td>
          <td>2.5%</td>
        </tr>

        <tr>
          <td><%= yr1 %></td>
          <td>Dec</td>
          <td>13</td>
          <td>2.5%</td>
        </tr>

        <tr>
          <td><%= yr2 %></td>
          <td>Jan</td>
          <td>1</td>
          <td>5.0%</td>
        </tr>

        <tr>
          <td><%= yr2 %></td>
          <td>Feb</td>
          <td>0</td>
          <td>0.0%</td>
        </tr>

        <tr>
          <td><%= yr2 %></td>
          <td>Mar</td>
          <td>3</td>
          <td>2.4%</td>
        </tr>


        <tr>
          <td><%= yr2 %></td>
          <td>Apr</td>
          <td>3</td>
          <td>2.3%</td>
        </tr>


        <tr>
          <td><%= yr2 %></td>
          <td>May</td>
          <td>3</td>
          <td>1.8%</td>
        </tr>


        <tr>
          <td><%= yr2 %></td>
          <td>Jun</td>
          <td>1</td>
          <td>0.1%</td>
        </tr>

        <tr>
          <td><%= yr2 %></td>
          <td>Jul</td>
          <td>5</td>
          <td>2.6%</td>
        </tr>


        <tr>
          <td><%= yr2 %></td>
          <td>Aug</td>
          <td>2</td>
          <td>1.0%</td>
        </tr>


        <tr>
          <td><%= yr2 %></td>
          <td>Sep</td>
          <td>0</td>
          <td>0.0%</td>
        </tr>


        <tr>
          <td><%= yr2 %></td>
          <td>Oct</td>
          <td>3</td>
          <td>1.3%</td>
        </tr>


        <tr>
          <td><%= yr2 %></td>
          <td>Nov</td>
          <td>13</td>
          <td>2.5%</td>
        </tr>

        <tr>
          <td><%= yr2 %></td>
          <td>Dec</td>
          <td>13</td>
          <td>2.5%</td>
        </tr>

        <tr>
          <td><%= yr3 %></td>
          <td>Jan</td>
          <td>1</td>
          <td>5.0%</td>
        </tr>

        <tr>
          <td><%= yr3 %></td>
          <td>Feb</td>
          <td>0</td>
          <td>0.0%</td>
        </tr>

        <tr>
          <td><%= yr3 %></td>
          <td>Mar</td>
          <td>3</td>
          <td>2.4%</td>
        </tr>


        <tr>
          <td><%= yr3 %></td>
          <td>Apr</td>
          <td>3</td>
          <td>2.3%</td>
        </tr>


        <tr>
          <td><%= yr3 %></td>
          <td>May</td>
          <td>3</td>
          <td>1.8%</td>
        </tr>


        <tr>
          <td><%= yr3 %></td>
          <td>Jun</td>
          <td>1</td>
          <td>0.1%</td>
        </tr>

        <tr>
          <td><%= yr3 %></td>
          <td>Jul</td>
          <td>5</td>
          <td>2.6%</td>
        </tr>


        <tr>
          <td><%= yr3 %></td>
          <td>Aug</td>
          <td>2</td>
          <td>1.0%</td>
        </tr>


        <tr>
          <td><%= yr3 %></td>
          <td>Sep</td>
          <td>0</td>
          <td>0.0%</td>
        </tr>


        <tr>
          <td><%= yr3 %></td>
          <td>Oct</td>
          <td>3</td>
          <td>1.3%</td>
        </tr>


        <tr>
          <td><%= yr3 %></td>
          <td>Nov</td>
          <td>13</td>
          <td>2.5%</td>
        </tr>

        <tr>
          <td><%= yr3 %></td>
          <td>Dec</td>
          <td>13</td>
          <td>2.5%</td>
        </tr>




        </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
  $("#months").on("keyup", function() {
    $("#months-count").text($(this).val());
    var annual = $(this).closest('.paymentdef').data('annual-payment');
    var months = $(this).val();
    $('#total').text((annual/12) * months);
  });

  // the below is not working yet
  $("#months").on("keyup", function() {
    $("#months-count").text($(this).val());
    var annual = $(this).closest('.paymentdef').data('annual-payment');
    var months = $(this).val();
    $('#total').text((annual/12) * months);
  });
});
</script>


