<div class="row">
<!-- WGG html comment was not enough here had to add the below if false and end
<% if false %> # WGG added
  <div class="col-md-3">
    <%= render 'partials/action_nav_normal' %>
  </div>
<% end %> # WGG added
WGG -->

<!-- WGG removing original chart
<% if false %> # WGG added
  <div class="col-md-9">
    <%= render 'partials/big_chart' %>
  </div>
</div>
<% end %>
WGG -->

<!-- WGG adding Guages -->

<div class="box">
  <div class="box-header"><span class="title">Gauges</span></div>
  <div class="box-content padded" style="text-align: center">
<!-- WGG removing    <div class="justgage" data-title="Normal" id="<%= random_string %>"></div>
    <div class="justgage" data-title="No labels" data-labels="false" id="<%= random_string %>"></div>
WGG -->
    <div class="justgage" 
      data-title="New Subscribers" 
      data-gauge-width-scale="0.3" 
      data-labels="true" 
      data-gauge-Color="#edebeb"
      id="gauge"
      data-val="523"
      data-max="600"
    ></div>    
    
    <div class="justgage" data-title="New Premiums" data-gauge-width-scale="0.2" data-labels="false" id="<%= random_string %>"></div>    
    
    <div class="justgage" data-title="Continuing Subscribers" data-gauge-width-scale="0.2" data-labels="false" id="<%= random_string %>"></div>
    
    <div class="justgage" data-title="Continuing Premiums" data-gauge-width-scale="0.2" data-labels="false" id="<%= random_string %>"></div>
    
    <div class="justgage" data-title="Total Active Subscribers" data-gauge-width-scale="0.2" data-labels="false" id="<%= random_string %>"></div>

    <div class="justgage" data-title="Total Monthly Premiums" data-gauge-width-scale="0.2" data-labels="false" id="<%= random_string %>"></div>

<!-- WGG removing
    <div class="justgage" data-title="Custom Animation" data-animation-type="bounce" id="<%= random_string %>"></div>
WGG -->    
  </div>
</div>

<!-- WGG end of adding Guages -->

  <div class="col-md-9">
    <%= render 'partials/enrollment_chart' %>
  </div>

  <div class="col-md-9">
    <%= render 'partials/commission_chart' %>
  </div>

<!-- WGG html comment was not enough here had to add the below if false and end
<% if false %>
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header">
        <div class="title">Full calendar</div>
      </div>

      <div class="box-content">
        <div id="calendar"></div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box">
      <div class="box-header">
        <span class="title">News with avatars (scrollable box)</span>
        <ul class="box-toolbar">
          <li><span class="label label-blue">178</span></li>
        </ul>
      </div>
      <div class="box-content scrollable" style="height: 552px; overflow-y: auto">
        <%= render 'partials/news_with_icons' %>
        <%= render 'partials/news_with_icons' %>
        <%= render 'partials/news_with_icons' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'partials/activity' %>
  </div>
</div>

<% end %> # WGG added
WGG -->